:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    --image: var(--soft);
    
    --background-color: #840d8d;

    --text-color: rgb(254, 239, 218);
    
    --light: var(--background);
    --dark: var(--text-color);
}


.name-title-pic {
    padding: 9%;
    color: var(--text-color);
    background: var(--background-color);
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-family: 'Courier New';
}

#title-name {
    margin-right: 10%;
    margin-top: 5%;
}

h1 {
    font-size: 60px;
    text-shadow: 0px 0px 25px black;
    margin-bottom: 0%;
}

h2 {
    margin-top: 1%;
    font-size: 40px;
    text-shadow: 0px 0px 11px black;
}

.face-pic {
    width: 25%;
    border-radius: calc(var(--image) * 3);
    border: 8px solid var(--text-color);
    animation: shake 0.3s ease-in-out 3;
}


@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(5px, -5px);
    }
    40% {
        transform: translate(5px, 5px);
    }
    60% {
        transform: translate(-5px, 5px);
    }
    80% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


.experience{
    font-family: 'Courier New';
    padding: 22%;
    background-color: #be30c8;
    color: aquamarine;
    position: relative; /* make the position of the container relative */
}

.experience-text {
    color: rgb(245, 245, 245);
    position: absolute;
    top: 8%;
    left: 5%;
    margin: 0;
}

h4 {
    font-family: 'Courier New', monospace;
    font-size: 32px;
    font-weight: bold;
    color: #be30c8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: 2px solid #be30c8;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 2%;
    margin: 0;
    transform: translate(8px, -50%);
  }

ul {
    margin-top: 0; /* remove the default margin from the top */
    margin-bottom: 10px; /* add some margin between the <p> and <ul> elements */
}

.company-name {
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.education{
    position: relative;
    margin: 0;
    background-color: #f1a8f6;
    padding: 2%;
}

.education-text {
    display: flex;
    align-items: center;
    
}

.calpoly {
    margin-top: 2%;
    font-size: 30px;
    color: rgb(152, 207, 152);
    font: bold;
    text-shadow: -1px -1px 0 rgb(27, 58, 37), 1px -1px 0 rgb(27, 58, 37), -1px 1px 0 rgb(27, 58, 37), 1px 1px 0 rgb(27, 58, 37);
    margin-bottom: 1%;
}

.major {
    margin-top: 0%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.cp-img {
    width: 20%;
    float: right;
    margin-left: 20%;
    margin-top: 0.5;
}

.skills {
    position: relative;
    margin: 0;
    background-color: #fbc5ff;
    padding: 2%;
}

.languages {
    color: #be30c8;
    font-size: 24px;
    font-weight: bold;
}

.langs {
    font-size: 26px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.dev-tools {
    color: #be30c8;
    font-size: 18px;
    font-weight: bold;
}

.tools {
    font-size: 17px;
    text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
}

.bottom-of-page {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #e28eca;
    padding: 1%;
}

a {
    color: white;
}